section.blog .grid-image {
    position: relative;
    width: 100%;
    padding-bottom: 70%;
    overflow: hidden;
}

section.blog .grid-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}