/* Blog Page */
.post__thumbnail {
	position: relative;
	width: 100%;
	padding-top: 65.7%; /* Tỷ lệ 16:9 = 9/16 = 0.5625 */
	overflow: hidden;

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.author__avatar {
	img {
		width: 100%;
		height: 100% !important;
		object-fit: cover;
		overflow: hidden;
	}
}
